.checkbox {
  margin-bottom: 24px;

  @media(min-width: $tablet-width) {
    width: calc(50% - 110px);
    margin-bottom: 35px;
  }

  @media(min-width: $desktop-width) {
    width: 25%;
  }
}

.checkbox__text {
  position: relative;
  cursor: pointer;
  padding-left: 45px;
}

.checkbox__text input[type="checkbox"] + .checkbox__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cfcfcf;
}

.checkbox__text input[type="checkbox"]:checked + .checkbox__indicator::before,
.checkbox__text input[type="checkbox"]:checked + .checkbox__indicator::after {
  content: "";
  position: absolute;
  background-color: $color_dark-green;
}

.checkbox__text input[type="checkbox"] + .checkbox__indicator::before {
  transform: rotate(45deg);
  width: 12px;
  height: 2px;
  top: 15px;
  left: 2px;
}

.checkbox__text input[type="checkbox"] + .checkbox__indicator::after {
  transform: rotate(-45deg);
  width: 19px;
  height: 2px;
  top: 12px;
  left: 8px;
}
