.cooperation {
  position: relative;
  background-color: $color_light;
  margin-top: 17px;
  
  @media (min-width: $tablet-width) {
    margin-top: -7px;
  }
}

.cooperation__item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 30px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 100%;
    padding-top: 65px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    background-color: $color_light;
  }
}

.cooperation__title {
  @include font(16px, 20px, 400);
  text-transform: uppercase;
  flex-shrink: 0;
  width: 50%;
  
  @media (min-width: $tablet-width) {
    @include font(16px, 20px, 400);
    line-height: 1.2em;
  }
}

.cooperation__address {
  @include font(14px, 20px, 400);
  font-family: "Arial", sans-serif;
  color: $color_dark-gray;
  
  @media (min-width: $tablet-width) {
    line-height: 1.2em;
  }
}

@media (min-width: $tablet-width) {
  .cooperation__title {
    font-size: 20px;
  }

  .cooperation__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 170px;
    font-size: 16px;
    line-height: 1.3;
    text-align: right;

    span {
      margin-top: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .cooperation__item {
    width: 570px;
    padding-left: 73px;
    padding-right: 78px;
  }

  .cooperation__title {
    margin-right: 80px;
  }

  .cooperation__address {
    width: 170px;
    font-size: 16px;

    br {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.cooperation--gray {
  background-color: $color_light-gray;
}

.cooperation__static-map {
  display: block;
  width: 100%;
  height: 362px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 396px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}
