.cooperation {
  position: relative;
}

.cooperation__item {
  background-color: $color_light;
  display: flex;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
  }
}

.cooperation__title {
  @include font(16px, 20px, 500);
  text-transform: uppercase;
}

.cooperation__address {
  @include font(14px, 20px, 400);
  color: $color_dark-gray;
}
