.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 66px;
  padding: 24px 20px;
  text-align: center;
  flex-shrink: 0;
  border-bottom: 1px solid $color_light-gray-border;
  background-color: $color_light;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.header__logo {
  display: block;
  width: 33px;
  height: 38px;
  position: absolute;
  top: 11px;
  left: 20px;

  @media (min-width: $tablet-width) {
    positin: static;
    width: 173px;
    height: 58px;
    margin-left: -18px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 58px;
  }
}

.header__icon {
  display: block;
  width: 101px;
  height: 18px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo:hover,
.header__icon:hover {
  opacity: 0.8;
}

.header__logo:active,
.header__icon:active {
  opacity: 0.6;
}
