.page-title {
  @include font(36px, 60px, 400);
  text-align: left;
  color: $color_dark;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}
