.product {
  @media(min-width: $tablet-width) {
    margin-top: 0;
  }
}

.product__list {
  @include list-reset;
}

.product__item {
  position: relative;
  padding: 20px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 100vw;
    height: 0;
    border-top: 1px solid #e6e6e6;
  }

  &--add {
    .product__wrapper {
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    .product__button {
      width: 100%;
    }
  }
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product__img {
  flex-shrink: 0;
  display: flex;
  width: 140px;
  height: 145px;

  img {
    margin: auto;
  }
}

.product__description {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;
}

.product__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: $color_dark;

  &--big {
    text-transform: uppercase;
  }
}

.product__options {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;

  td {
    padding: 2px 0;
  }
}

.product__value {
  text-align: right;
}

.product__button {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;

    &--add {
      margin-bottom: 70px;
    }
  }

  .product__item {
    flex-shrink: 1;
    position: relative;
    width: 323px;
    margin: 0 30px 140px;
    padding: 40px 35px;
    padding-top: 168px;
    border-top: none;
    background-color: $color_light-gray;

    &::before {
      border-top: none;
    }

    &--to-all {
      padding-top: 40px;
      background-color: $color_light;
      border: 1px solid $color_light-gray-border;
    }

    &--add {
      width: 100%;
      margin-bottom: -1px;
      padding: 20px 40px 30px;
      background-color: $color_light;
      border: 1px solid #cdcdcd;

      .product__description {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      .product__title {
        width: 40%;
        text-align: left;
      }

      .product__options {
        width: 40%;

        tr {
          border-bottom: none;
        }
      }

      .product__field {
        text-align: right;
      }

      .product__value {
        width: 95px;
      }

      .product__button {
        max-width: 100%;
      }
    }
  }

  .product__title {
    font-size: 20px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  .product__weight {
    display: block;
  }

  .product__img {
    position: absolute;
    top: -93px;
    left: 50%;
    transform: translateX(-50%);
  }

  .product__options {
    font-size: 16px;

    tr {
      border-bottom: 1px solid #cdcdcd;
    }

    td {
      padding: 5px 0;
    }
  }

  .product__field {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .product__list--add {
    margin-right: 80px;
    margin-bottom: 0;

    .product__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }

    .product__options {
      width: 290px;
      margin-right: 40px;

      td {
        padding: 0;
      }
    }

    .product__field {
      text-align: left;
    }

    .product__title {
      margin-bottom: 0;
    }

    .product__button {
      width: 245px;
    }
  }

  .product__item {
    width: 245px;

    /*&:nth-child(4n) {
      margin-right: 0;
    }*/
    &--add {
      width: 100%;
      padding: 15px 0;
      border-right: none;
      border-left: none;
    }
  }

  .product__description {
    width: auto;
  }
}
