.promo {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: $color_light;
}

.promo__title {
  @include font(36px,
  36px,
  500);
  padding-top: 39px;
}

.promo__text {
  @include font(14px,
  14px,
  500);
  text-transform: uppercase;
}

.promo__button {
  @include font(14px,
  18px,
  900);
  background-color: $color_green;
  color: $color_light;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.promo__button:hover {
  background-color: $color_dark-green;
  color: $color_dark-green-text;
}
