.promo {
  text-align: center;
  color: $color_light;
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    color: $color_dark;
    text-align: left;
    padding-left: 60px;
    min-height: 860px;
  }

  @media (min-width: $desktop-width) {
    min-height: 750px;
  }
}

.promo::before {
  content: url("../img/index-background-mobile@1x.jpg");
  display: block;
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    content: url("../img/index-background-desktop.jpg");
    display: block;
    left: 540px;
    top: -71px;
    z-index: 0;
  }
}

.promo__title {
  @include font(36px,
  36px,
  500);
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    @include font(60px, 60px, 500);
  }
}

.promo__text {
  @include font(14px,
  14px,
  500);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, 500);
  }
}

.promo__button {
  @include font(14px,
  18px,
  900);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 72px;
  padding-left: 72px;
  max-width: 245px;
}

.promo__image {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 680px;
    height: 696px;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    z-index: 1;
    top: 10%;
    left: 55%;
  }
}
