.radio {
  margin-bottom: 25px;
  
  @media (min-width: $tablet-width) {
    height: 35px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
    padding-top: 10px;
    padding-left: 26px;
  }
}

.radio__text {
  position: relative;
  cursor: pointer;
  padding-left: 45px;
  
  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
  }
}

.radio__text input[type="radio"] + .radio__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  
  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.radio__text input[type="radio"]:checked + .radio__custom::before,
.radio__text input[type="radio"]:checked + .radio__custom::after {
  content: "";
  position: absolute;
  background-color: $color_dark-green;
}

.radio__text input[type="radio"] + .radio__custom::before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  right: 50%;
  bottom: 50%;
  transform: translateX(50%) translateY(50%);

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.radio__text input[type="radio"]:active + .radio__custom::before,
.radio__text input[type="radio"]:active + .radio__custom::after {
  content: "";
  position: absolute;
  background-color: #d1e9c3;
}

.radio__text input[type="radio"]:hover + .radio__custom::before {
  border: 1px solid #cfcfcf;
}

.radio__text input[type="radio"]:active + .radio__custom::before {
  border: 1px solid #f5f5f5;
}

.radio__text:active {
  color: #bcbcbc;
}
