.show-all {
  background-color: $color_light;
  text-align: center; //margin-top: 24px;
  padding-bottom: 23px;
  padding-top: 79px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100vw;
    height: 0;
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.show-all__title {
  @include font(16px, 20px, 400);
  color: $color_dark;
  position: relative;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 8px;

  &::before {
    content: "";
    position: absolute;
    top: -53px;
    left: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: transparent url("../img/icon-plus-mobile.svg") 0 0 no-repeat;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      top: -105px;
    }
  }

  @media (min-width: $tablet-width) {
    @include font(20px,
    20px,
    400);
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 123px;
  }
}

.show-all__text {
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  color: $color_light-gray-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 23px;
  }
}

.show-all__button {
  @include font(16px,
  20px,
  400);
  margin: 0 auto;
  padding: 10px 25px;

  @media (min-width: $tablet-width) {
    margin-top: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 92px;
    margin-left: 9px;
  }
}
