.slider {
  position: relative;
  min-height: 360px;
  background-color: $color_light-gray;
  
  @media (min-width: $tablet-width) {
    min-height: 463px;
  }
}

.slider__photo {
  width: 320px;
  height: 240px;
  position: absolute;
  
  @media (min-width: $tablet-width) {
    width: 677px;
    height: 499px;
  }
}
