.slider {
  @media (min-width: $tablet-width) {
    padding-bottom: 61px;
    //background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 50%, #ebebeb 50%, #ebebeb 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% calc(100% - 100px);
  }

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    padding-bottom: 0;
    background-position: center 167px;
    margin-right: -40px;
    //background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 47%, #ebebeb 40%, #ebebeb 100%);
  }
}

.slider__content {
  position: relative;
  width: $mobile-width;
  min-height: 254px;
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    width: 693px;
    min-height: 446px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    margin-bottom: 69px;
    padding-right: 40px;
  }
}

.slider__image {
  position: absolute;
  top: 6px;
  left: -19px;
  width: 100%;
  height: auto;
  opacity: 0;

  @media (min-width: $tablet-width) {
    top: -9px;
    left: 6px;
  }

  @media (min-width: $desktop-width) {
    top: -39px;
    left: -77px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 83px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 40px;
    margin-top: 66px;
  }
}

.slider__text {
  @include font(16px, 20px, 400);
  min-width: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px dotted #444444;

    &:hover {
      border-bottom: 1px solid #444444;
    }

    &:active {
      padding-bottom: 6px;
      border: none;
    }
  }
}

.slider__range {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 14px;
  margin: 0 15px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 7px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    margin: 0 22px;
    background-color: #cdcdcd;
    border: none;
    border-radius: none;
  }
}

.slider__label {
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 3px;
  opacity: 0;
  cursor: pointer;

  &--before {
    left: 5px;
  }

  &--after {
    right: 5px;
  }

  @media (min-width: $tablet-width) {
    top: -16px;
    width: 34px;
    height: 34px;
    padding: 11px;
    background-color: #ffffff;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%;
    }

    &:focus,
    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-color: #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &--before {
      left: 50%;
      transform: translateX(-44%);

      @media (min-width: $desktop-width) {
        left: 51%;
        transform: translateX(-50%);
      }
    }

    &--after {
      right: 0;
    }
  }
}

.slider__input--before:checked ~ .slider__control .slider__label--before {
  opacity: 1;
}

.slider__input--before:checked ~ .slider__content .slider__image--before {
  opacity: 1;
}

.slider__input--after:checked ~ .slider__control .slider__label--after {
  opacity: 1;
}

.slider__input--after:checked ~ .slider__content .slider__image--after {
  opacity: 1;
}
