.social {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding-bottom: 24px;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 80px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__item {
  cursor: pointer;
  padding: 0 20px;
}

.social__button:hover svg {
  fill: $color_green;
}

.social__button:active svg {
  fill: #c8e0ba;
}
