.social {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding-bottom: 16px;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 80px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
  
  @media (min-width: $desktop-width) {
    width: 140px;
  }
}

.social__button {
  padding: 0 20px;
  display: block;
  
  @media (min-width: $desktop-width) {
    padding: 0 14px;
  }
}

.social__button:hover svg {
  fill: $color_green;
}

.social__button:active svg {
  fill: #c8e0ba;
}

@media (min-width: $tablet-width) {
  .social__vk-icon {
    width: 30px;
    height: 16px;
  }

  .social__insta-icon {
    width: 23px;
    height: 23px;
  }

  .social__fb-icon {
    width: 14px;
    height: 28px;
  }
}
