.social__list {
    @include list-reset;
}

.social {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding-bottom: 24px;
    padding-top: 24px;
    @media (min-width: $tablet-width) {
        border: none;
    }
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-left: 75px;
    @media(min-width: $tablet-width) {
        margin-right: 137px;
        margin-left: 137px;
    }
    @media(min-width: $desktop-width) {
        margin-right: 392px;
        margin-left: 392px;
    }
}

.social__item {
    cursor: pointer;
}

.social__button:hover svg {
    fill: $color_green;
}

.social__button:active svg {
    fill: #c8e0ba;
}