@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src: url(../fonts/oswaldregular.woff),
  url(../fonts/oswaldregular.woff2);
}

@font-face {
  font-weight: bold;
  font-family: "Oswald";
  font-style: normal;
  src: url(../fonts/oswaldregular.woff),
  url(../fonts/oswaldregular.woff2);
}

