@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src:
    local("Oswald"),
    local("Oswald-Regular"),
    url("../fonts/oswaldregular.woff"),
    url("../fonts/oswaldregular.woff2");
}
