$font-base:
  "Arial", sans-serif;
$font-main:
  "Oswald", sans-serif;


$color_light-gray-border: #e6e6e6;
$color_light-gray: #f2f2f2;
$color_light-gray-text: #aeaeae;
$color_gray: #808080;
$color_dark-gray: #444444;
$color_dark: #111111;
$color_green: #68b738;
$color_dark-green: #5eaa2f;
$color_dark-green-text: #8fc46e;
$color_light: #ffffff;


$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$s-field: 20px;
$m-field: 30px;
$l-field: 40px;